@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    .cat_image_bg {
        background-image: radial-gradient(rgba(0, 0, 0, .4), rgba(0, 0, 0, .8)), url('./assets/catInAnime.png');
    }

    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;
        /* IE and Edge */
        scrollbar-width: none;
        /* Firefox */
    }
}